.ExchangePageInputLeft {
     width: 440px;
     border: 1px solid #E3EBEF;
     border-radius: 5px;
     &Modal{
        overflow-y: scroll;
        max-height: 200px;
        position: absolute;
        background: #F6F7F8;
        border-radius: 0px 0px 5px 5px;
        width: 399px;
        border: 1px solid #E3EBEF;
        padding: 15px 20px;
        margin-top: -3px;
    }
    &Btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
        border-left: 1px solid #E3EBEF;
        &Arrow{
            height: 6px;
            width: 10px;
        }
        &Img {
            height: 20px;
            width: 20px;
            padding-left: 36.5px ;
        }
    }
     
    &IptCoin{
        background: #F6F7F8;
        border-radius: 5px;
        width: 290px;
    }
    &BtnInput {
        display: flex;
        justify-content: space-between;
        background: #F6F7F8;
        height: 30px;
        border-radius: 5px;
        padding: 10px 15px;
        
    }
    &CoinSelection {
        display: flex;
        flex-direction: row;
        height: 48px;
        &:hover{
            cursor: pointer;
        }
    }
    &CoinSelection * {
        padding-right: 16px;
    }

    &CoinName {
        color: #80A2B6;
    }

    &CoinTicker {
        text-transform: uppercase;
        padding-right: 33px;
    }
}

@media (max-width: 990px) {
    .ExchangePageInputLeft {
       width: 360px;
       &Modal{
        width: 319px;
      }
       }
}
@media (max-width: 900px) {
    .ExchangePageInputLeft {
       width: 400px;
       &Modal{
        width: 359px;
      }
       }
}
@media (max-width: 430px) {
    .ExchangePageInputLeft {
       width: 326px;
       &Modal{
        width: 285px;
      }
       }
}
 